<div *ngIf="temp.length === 0; else list" nz-row nzJustify='center' nzAlign='middle' class="empty">
    <div nz-col nzSm='20' nzXs='24'>
        <h1>🙄 CHƯA CÓ LỚP ĐƯỢC TẠO 🤨</h1>
        <p>
            <button nz-button nzType="primary" (click)="openModalNewClass()"><i nz-icon nzType="plus"></i>TẠO LỚP HỌC
                MỚI</button>
            <img src="assets/404.svg" alt="">
        </p>
    </div>
</div>
<ng-template #list>
    <nz-page-header class="site-page-header">
        <nz-page-header-title class="header-title"><i nz-icon nzType="exception" nzTheme="outline"></i> &nbsp; DANH SÁCH
            LỚP HỌC CỦA BẠN</nz-page-header-title>
        <nz-page-header-extra>
            <div nz-row>
                <nz-input-group style="    width: 80%;
                margin-right: 23px;" [nzSuffix]="suffixIconSearch">
                    <input [(ngModel)]="text" (input)='search()' type="text" nz-input
                        placeholder="Tìm kiếm lớp học bằng tên hoặc mã" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <button (click)="openModalNewClass()" nz-button nzType="primary" title="TẠO LỚP HỌC MỚI"><i nz-icon
                        nzType="plus"></i></button>
            </div>
        </nz-page-header-extra>

    </nz-page-header>
    <div class="list">
        <div nz-row [nzGutter]="16">
            <div *ngFor="let item of classes" nz-col nzXs="24" nzSm='12' nzMd='12' nzLg='8' nzXl='6' nzXXL='4'>
                <nz-card [nzTitle]="item.name" (click)="openClass(item._id)">
                    <p>{{item.students.length}} học sinh</p>
                    <nz-tag style="letter-spacing: 1px;cursor: pointer;" [nzColor]="'#536dfe'"
                        title="Click Để Copy Mã Lớp" (click)="copyCode(item.code, $event)">{{item.code}}</nz-tag>
                </nz-card>
            </div>
        </div>
    </div>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm Lớp" (nzOnCancel)="isVisible=false" (nzOnOk)="addClass()">
    <input #inputAddClass style="text-transform: capitalize;" nz-input placeholder="Nhập Tên Lớp Tại Đây"
        [(ngModel)]="newClass.name" />
    <nz-divider></nz-divider>
    <textarea nz-input placeholder="Mô Tả" [(ngModel)]="newClass.desc"
        [nzAutosize]="{ minRows: 2, maxRows: 5 }"></textarea>

</nz-modal>