<div nz-row nzJustify='space-between'>
    <h3>
        <i nz-icon nzType="user" nzTheme="outline"></i> Lớp Học Của Bạn
    </h3>
    <div nz-row nzJustify='end' style="width: 22.5%;    padding-bottom: 10px;">
        <nz-input-group style="    width: 75%;
                margin-right: 23px;" [nzSuffix]="suffixIconSearch">
            <input [(ngModel)]="text" (input)='search()' type="text" nz-input
                placeholder="Tìm kiếm lớp học bằng tên hoặc mã" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
        <button (click)="openModalNewClass()" nz-button nzType="primary" title="TẠO LỚP HỌC MỚI"><i nz-icon
                nzType="plus"></i></button>
    </div>
</div>

<div *ngIf="classes.length === 0; else list" nz-row nzJustify='center' nzAlign='middle' class="empty">
    <nz-empty></nz-empty>
</div>
<ng-template #list>
    <div class="list">
        <div nz-row [nzGutter]="16">
            <div *ngFor="let item of classes" nz-col nzXs="24" nzSm='12' nzMd='12' nzLg='8' nzXl='6' nzXXL='4'>
                <nz-card [nzTitle]="item.name" (click)="openClass(item.id)">
                    <p style="text-transform: capitalize;">{{item.teacher.name}}</p>
                    <nz-tag style="letter-spacing: 1px;" [nzColor]="'#536dfe'" title="Mã Lớp">{{item.code}}</nz-tag>
                </nz-card>
            </div>
        </div>
    </div>
</ng-template>
<nz-modal nzOkText='THAM GIA' [(nzVisible)]="isVisible" nzTitle="Tham Gia Lớp" (nzOnCancel)="isVisible=false"
    (nzOnOk)="addClass()">
    <input #inputAddClass style="text-transform: capitalize;" nz-input placeholder="Nhập Mã Lớp Tại Đây"
        [(ngModel)]="codeToEnroll" />
</nz-modal>