.list {
  background: #f0f2f5;
  padding: 30px;
  max-height: 75vh;
  overflow-y: scroll;
  margin-top: 20px;
  .ant-card {
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 4px 2px 20px #444a4e14;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: translateY(-3px);
      transition: all 0.3s ease;
      box-shadow: 0px 5px 20px #2a2e3133;
    }
  }

  h3 {
    span {
      font-weight: 600;
      font-family: "Barlow", sans-serif;
      background: #6ea8e83b;
      width: fit-content;
      color: #3b638d;
      padding: 5px 7px 5px;
      border-radius: 3px;
    }
  }
  span.number,
  span.name {
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 15px;
    font-size: 15px;
    letter-spacing: 1px;
  }
}
nz-page-header.ant-page-header {
  padding: 0 0 15px;
}
