<nz-page-header-extra>
    <div>
        <nz-badge nz-popover [nzPopoverContent]="notiTemplate" nzPopoverTrigger='click'
            style="margin-right: 10px; cursor: pointer; font-size: 18px;" [nzDot]='notis.length > 0? "":false'>
            <i nz-icon nzType="bell" nzTheme="outline"></i></nz-badge>

        <nz-avatar nzIcon="user" style="margin-right: 10px;"></nz-avatar>
        <b nz-popover [nzPopoverContent]="contentTemplate" style="text-transform: capitalize;">{{user.name}}</b>
    </div>
</nz-page-header-extra>

<ng-template #contentTemplate>
    <nz-list style="width: 150px;">
        <nz-list-item routerLink='/me'>
            <span><i nz-icon nzType="user" nzTheme="outline"></i> Trang Cá Nhân</span>
        </nz-list-item>
        <nz-list-item (click)="FBSV.signOut()">
            <b style="color: red;"> <i nz-icon nzType="logout" nzTheme="outline"></i> Đăng Xuất</b>
        </nz-list-item>
    </nz-list>
</ng-template>

<ng-template #notiTemplate>
    <nz-list style="max-width: 200px;">
        <nz-list-item *ngFor="let item of notis" class="noti">
            <nz-list-item-meta nzAvatar="assets/logo.svg" nzDescription="{{item.content}}">
                <nz-list-item-meta-title>
                    {{ item.ctime * 1000 | date: 'HH:mm - dd/MM/y' }}
                </nz-list-item-meta-title>
            </nz-list-item-meta>
        </nz-list-item>
        <nz-list-empty *ngIf="notis.length === 0"></nz-list-empty>
    </nz-list>
</ng-template>