<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon [nzTitle]="exam.title ">
</nz-page-header>
<nz-descriptions [nzColumn]="2">
    <nz-descriptions-item nzTitle="Bắt Đầu Lúc"> <a nz-button nzSize='small'
            nzType="primary"><b>{{exam.time_start * 1000 | date: 'HH:mm - dd/MM/y'}}</b></a>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Mô Tả">
        {{exam.desc}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Thời Gian Làm Bài">{{exam.duration}} phút</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Đề"><a style="text-transform: capitalize;" routerLink='/de/{{exam.test_subject_id}}'
            target="_blank" rel="noopener noreferrer">{{test_subject.title}}</a> - {{test_subject.questions.length}} Câu
    </nz-descriptions-item>
</nz-descriptions>
<nz-divider style="margin: 15px 0"></nz-divider>
<div nz-row nzJustify='space-between'>
    <h3><i nz-icon nzType="snippets" nzTheme="outline"></i> KẾT QUẢ LÀM BÀI</h3>
    <div>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input [(ngModel)]="text" (input)='search()' type="text" nz-input placeholder="Tìm kiếm bằng tên, email" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div>
</div>
<ng-container *ngIf="results.length > 0; else empty">

    <nz-table nzBordered [nzData]="[{}]">
        <thead>
            <tr>
                <th nzWidth='50px'>STT</th>
                <th>Họ Và Tên</th>
                <th>Email</th>
                <th>Điểm</th>
                <th>Trạng Thái</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of results; let i=index">
                <td class="center">{{i+1}}</td>
                <td style="text-transform: capitalize;"><b>{{ data.info.name }}</b></td>
                <td>{{data.info.email}}</td>
                <td><b>{{ data.status === 1 ? (data.results.corrects.length/data.results.q_length)*10 : '...'}}</b></td>
                <td>{{data.status === 1 ? ('Hoàn Thành (' + (data.ctime * 1000 | date: 'HH:mm') + ' - ' +  (data.results.time * 1000 | date: 'HH:mm') + ') '): ('Đang Làm - Bắt Đầu Lúc '+(data.ctime*1000 | date:'HH:mm')+' (Còn ' + data.duration/60 + ' phút)')}}
                </td>
            </tr>
        </tbody>
    </nz-table>

</ng-container>
<ng-template #empty>
    <nz-empty style="margin-top: 100px"
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>
            <h3> CHƯA CÓ DỮ LIỆU LÀM BÀI CỦA HỌC SINH </h3>
        </ng-template>

    </nz-empty>
</ng-template>