nz-page-header.ant-page-header {
  padding: 0 0 15px;
}

.q-actions {
  i {
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }
}
.editable-tag {
  background: rgb(255, 255, 255);
  border-style: dashed;
  cursor: pointer;
}
