<!-- <nz-table [nzData]="[{}]" [nzPageSize]="10">
    <thead>
        <tr>
            <th></th>
            <th>Câu Hỏi</th>
            <th>Thời Gian Tạo</th>
            <th>Tác Vụ</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</nz-table> -->
<nz-page-header [nzGhost]="false">
    <nz-page-header-title>
        <h3>
            <i nz-icon nzType="exception" nzTheme="outline"></i> &nbsp; DANH SÁCH
            CÂU HỎI CỦA BẠN
        </h3>
    </nz-page-header-title>
    <nz-page-header-extra>
        <button nz-button nzType="primary" title="Tạo câu hỏi mới" (click)="open()"><i nz-icon nzType="plus"></i>Tạo Câu
            Hỏi Mới</button>
        <button nz-button nzType="primary" title="Tạo câu hỏi mới" (click)="isVisible = true"><i nz-icon
                nzType="retweet" nzTheme="outline"></i>Sinh
            Câu Hỏi
            Tự Động</button>
    </nz-page-header-extra>
    <!-- <nz-page-header-content>
        <nz-descriptions nzSize="small" [nzColumn]="3">
            <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Lili Qu</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Remarks" [nzSpan]="2">
                Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
            </nz-descriptions-item>
        </nz-descriptions>
    </nz-page-header-content> -->
</nz-page-header>
<nz-empty *ngIf="listQuestions.length == 0; else list"></nz-empty>
<ng-template #list>
    <nz-table class="border-table" nzBordered [nzData]="[{}]">
        <thead>
            <tr>
                <th nzWidth='50px'></th>
                <th>Câu Hỏi</th>
                <th nzWidth='300px'>Tags</th>
                <th nzWidth='150px'>Thời Gian Tạo</th>
                <th nzWidth='100px'>Tác Vụ</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor='let data of listQuestions; let i = index'>
                <tr>
                    <td class="center" [(nzExpand)]="data['expand']"></td>
                    <td>
                        <div [innerHTML]="data.question | safeHtml"></div>
                    </td>
                    <td>
                        <nz-tag nzMode="checkable" [nzChecked]="true" *ngFor="let tag of data.tags">#{{tag}}</nz-tag>
                    </td>
                    <td>{{ data.ctime*1000 | date: 'dd/MM/y' }}</td>
                    <td class="q-actions center">
                        <i nz-icon nzType="edit" nzTheme="outline" (click)="editQuestion(data)"></i>
                        <i nz-icon nzType="delete" nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Xóa Câu Hỏi Này?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="removeQuestion(i)"></i>
                    </td>
                </tr>
                <tr [nzExpand]="data['expand']">
                    <nz-table class=" nest-table" #innerTable [nzData]="data.answers" nzSize="middle"
                        [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th class="center" nzWidth='50px'>Đúng</th>
                                <th>Câu Trả Lời</th>
                                <th nzWidth='100px'>Status</th>
                            </tr>
                        </thead>
        <tbody>
            <tr *ngFor="let item of innerTable.data; let i = index">
                <td class="center"><label nzDisabled nz-checkbox [(ngModel)]="item.correct"></label></td>
                <td><b>{{i +1 | customString: 'IndexAnswer'}}</b> &nbsp;{{item.answer}}</td>
                <td></td>
            </tr>
        </tbody>
    </nz-table>
    </tr>
    </ng-container>
    </tbody>
    </nz-table>
</ng-template>



<nz-drawer [nzMaskClosable]="false" [nzVisible]="visible" nzWidth='40%' nzPlacement="right"
    [nzTitle]="new?'TẠO CÂU HỎI MỚI':'CHỈNH SỬA CÂU HỎI'" (nzOnClose)="close()">
    <h3>TAGS: </h3>
    <nz-tag *ngFor="let tag of question.tags; let i = index" nzMode="closeable" (nzAfterClose)="handleClose(tag)">
        {{ tag }}
    </nz-tag>
    <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()"> <i nz-icon
            nzType="plus"></i> Tag Mới </nz-tag>
    <input #inputElement nz-input nzSize="small" *ngIf="inputVisible" type="text" [(ngModel)]="inputValue"
        style="width: 78px;" (blur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()" />
    <nz-divider></nz-divider>
    <h3>CÂU HỎI: </h3>
    <quill-editor [styles]="{height: '150px', 'margin-bottom': '10px'}" [(ngModel)]='question.q' [modules]="modules"
        theme="snow">
    </quill-editor>
    <!-- <button nz-button nzType="primary" (click)="test()" style="margin-top: 20px;">TEST</button>
    <div id="test">

    </div> -->

    <h3>CÂU TRẢ LỜI:</h3>
    <textarea #answerView nz-input placeholder="Nhập câu trả lời ở đây, sau đó bấm nút LƯU ở dưới"
        [nzAutosize]="{ minRows: 2, maxRows: 4 }" [(ngModel)]="current_answer"></textarea>
    <div nz-row nzJustify='end' style="margin: 10px auto;">
        <div>
            <label nz-checkbox [(ngModel)]="isTrue">Đây Là Đáp Án Đúng</label>
            <a nz-button nzType="default" (click)="addAnswer()"><i nz-icon nzType="plus" nzTheme="outline"></i>LƯU</a>
        </div>
    </div>
    <ng-container *ngIf="question.answers.length > 0">
        <nz-table nzBordered [nzData]="[{}]" [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th>NỘI DUNG</th>
                    <th nzWidth="70px">ĐÚNG</th>
                    <th nzWidth="70px">XÓA</th>
                </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                <tr *ngFor="let data of question.answers; let i = index" cdkDrag style="cursor: grab">
                    <td>{{ data.answer }}</td>
                    <td class="center"><label nz-checkbox [(ngModel)]="data.correct"></label></td>
                    <td class="center"><i nz-icon nzType="delete" (click)="deleteAnswer(i)"
                            style="color: brown; cursor: pointer;" nzTheme="outline"></i></td>
                </tr>
            </tbody>
        </nz-table>
        <div nz-row nzJustify='end' style="margin: 10px auto;">
            <button nz-button nzType="primary" (click)="addQuestion(question.id)">
                <i nz-icon nzType="check" nzTheme="outline"></i>LƯU CÂU HỎI
            </button>
        </div>
    </ng-container>
</nz-drawer>

<nz-modal [(nzVisible)]="isVisible" [nzMaskClosable]='false' nzTitle="Tạo Câu Hỏi Tự Động"
    (nzOnCancel)='isVisible = false' (nzOnOk)="saveAutoQ()" nzOkText='LƯU'>
    <div nz-row nzJustify='center'>
        <nz-radio-group [(ngModel)]="autoQ" (ngModelChange)='selectAuto()' nzButtonStyle="solid">
            <label nz-radio-button nzValue="cong">X + Y</label>
            <label nz-radio-button nzValue="tru">X - Y</label>
            <label nz-radio-button nzValue="nhan">X x Y</label>
            <label nz-radio-button nzValue="chia">X : Y</label>
        </nz-radio-group>
    </div>
    <ng-container *ngIf="question.q.length > 0">
        <nz-divider></nz-divider>
        <h3>{{question.q}}</h3>
        <nz-checkbox-wrapper style="width: 100%;">
            <div nz-row>
                <div nz-col nzSpan="6" *ngFor="let item of question.answers"><label nz-checkbox [ngModel]='item.correct'
                        nzDisabled><span style="color: #000 !important">{{item.answer}}</span></label></div>
            </div>
        </nz-checkbox-wrapper>
        <nz-divider></nz-divider>
        <h3>TAGS: </h3>
        <nz-tag *ngFor="let tag of question.tags; let i = index" nzMode="closeable" (nzAfterClose)="handleClose(tag)">
            {{ tag }}
        </nz-tag>
        <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()"> <i nz-icon
                nzType="plus"></i> Tag Mới </nz-tag>
        <input #inputElement nz-input nzSize="small" *ngIf="inputVisible" type="text" [(ngModel)]="inputValue"
            style="width: 78px;" (blur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()" />
    </ng-container>

</nz-modal>