<div nz-row nzGlutter='20' class="row">
    <div nz-col nzSm='12' nzXs='24'>
        <h3>CÂU HỎI: </h3>
        <quill-editor [styles]="{height: '150px', 'margin-bottom': '10px'}" [(ngModel)]='current_question'
            [modules]="modules" theme="snow">
        </quill-editor>
        <!-- <button nz-button nzType="primary" (click)="test()" style="margin-top: 20px;">TEST</button>
        <div id="test">

        </div> -->
        <h3>CÂU TRẢ LỜI:</h3>
        <textarea #answerView nz-input placeholder="Nhập câu trả lời ở đây, sau đó bấm nút LƯU ở dưới"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }" [(ngModel)]="current_answer"></textarea>
        <div nz-row nzJustify='end' style="margin: 10px auto;">
            <div>
                <label nz-checkbox [(ngModel)]="current_isTrue">Đây Là Đáp Án Đúng</label>
                <a nz-button nzType="default" (click)="addAnswer()"><i nz-icon nzType="plus"
                        nzTheme="outline"></i>LƯU</a>
            </div>
        </div>
        <ng-container *ngIf="current_answers.length > 0">
            <nz-table nzBordered [nzData]="[{}]" [nzFrontPagination]="false" [nzShowPagination]="false">
                <thead>
                    <tr>
                        <th>NỘI DUNG</th>
                        <th nzWidth="70px">ĐÚNG</th>
                        <th nzWidth="70px">XÓA</th>
                    </tr>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                    <tr *ngFor="let data of current_answers; let i = index" cdkDrag style="cursor: grab">
                        <td>{{ data.answer }}</td>
                        <td class="center"><label nz-checkbox [(ngModel)]="data.correct"></label></td>
                        <td class="center"><i nz-icon nzType="delete" (click)="deleteAnswer(i)"
                                style="color: brown; cursor: pointer;" nzTheme="outline"></i></td>
                    </tr>
                </tbody>
            </nz-table>
            <div nz-row nzJustify='end' style="margin: 10px auto;">
                <button nz-button nzType="primary" (click)="addQuestion()">
                    <i nz-icon nzType="check" nzTheme="outline"></i>LƯU CÂU HỎI
                </button>
            </div>
        </ng-container>
    </div>
    <div nz-col nzSm='12' nzXs='24' style="padding-left: 24px;">
        <div nz-row nzJustify='space-between'>
            <h3>DANH SÁCH CÂU HỎI</h3>
            <div *ngIf="list_questions.length > 0">
                <u style="cursor: pointer;" (click)="expandF()">{{!expand? 'Thu Nhỏ': 'Mở Rộng'}}</u>
                <i nz-icon nzTheme='outline' nzType="close-circle"
                    style="color: brown; cursor: pointer; margin-left: 15px" title="Xóa Hết Câu Hỏi" nz-popconfirm
                    [nzPopconfirmTitle]="'Xóa Toàn Bộ Câu Hỏi ?'" [nzIcon]="deleteCauHoi" nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="list_questions = []"></i>
                <ng-template #deleteCauHoi>
                    <i nz-icon nzType="stop" style="color: rgba(155, 16, 16, 0.925);"></i>
                </ng-template>
            </div>
        </div>
        <ng-container *ngIf="list_questions.length > 0; else empty">

            <div class="list">
                <div class="question" *ngFor="let item of list_questions; let i = index">
                    <!-- <app-question-view [question_dom]="item.question" [index]='i+1'></app-question-view> -->
                    <div nz-row nzJustify='space-between' class="title">
                        <div>
                            <h4>CÂU {{i+1}}: </h4>
                        </div>
                        <div>
                            <i nz-icon (click)="item.expand=!item.expand" [nzType]="item.expand? 'up':'down'"
                                nzTheme="outline"></i>
                            <i nz-icon nzType="delete" style="color: brown;margin-left: 10px" nzTheme="outline"
                                nz-popconfirm [nzPopconfirmTitle]="'Xóa Câu Hỏi Này ?'" [nzIcon]="deleteCauHoi"
                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="removeQuestion(i)"></i>
                            <ng-template #deleteCauHoi>
                                <i nz-icon nzType="stop" style="color: rgba(155, 16, 16, 0.925);"></i>
                            </ng-template>
                        </div>
                    </div>
                    <div id="question-{{i}}">

                    </div>
                    <nz-list *ngIf="item.expand" style="border-top: #085db41f dashed 2px">
                        <nz-list-item *ngFor="let a of item.answers; let i = index">
                            <span>
                                <b>{{(i+1) | customString: 'IndexAnswer'}}</b> <span nz-typography nzEditable
                                    [(nzContent)]="a.answer"></span>
                            </span>
                            <div>
                                <label nz-checkbox [(ngModel)]="a.correct" title="Là đáp án đúng?"></label>
                            </div>
                        </nz-list-item>
                    </nz-list>
                </div>
            </div>
        </ng-container>
        <ng-template #empty>
            <nz-empty style="margin-top: 200px;"></nz-empty>
        </ng-template>
    </div>
</div>

<div class="next-step">
    <button (click)="visible = true" nz-button nzType="primary"><i nz-icon nzType="setting" nzTheme="outline"></i>THÔNG
        TIN CHUNG</button>
</div>


<nz-drawer [nzVisible]="visible" [nzWidth]="500" [nzClosable]="false" (nzOnClose)="visible = false">
    <h3>THÔNG TIN CHUNG</h3>
    <nz-list>
        <nz-list-item>
            <textarea autofocus nz-input [(ngModel)]="info.title" placeholder="Tiêu đề" nzAutosize></textarea>
        </nz-list-item>
        <nz-list-item>
            <textarea nz-input [(ngModel)]="info.desc" placeholder="Mô tả"
                [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
        </nz-list-item>
        <nz-list-item>
            <nz-select style="width: 100%;" nzMode="multiple" nzPlaceHolder="Thuộc Lớp" [(ngModel)]="info.in_class">
                <nz-option nzLabel="1A" nzValue="1A"></nz-option>
                <nz-option nzLabel="1B" nzValue="1B"></nz-option>
                <nz-option nzLabel="1C" nzValue="1C"></nz-option>
            </nz-select>
        </nz-list-item>
        <nz-list-item>
            <nz-input-number style="width: 100%;" [(ngModel)]="info.do_time" [nzMin]="1" [nzStep]="1"
                nzPlaceHolder="Thời Gian Làm Bài (phút)"></nz-input-number>
            <nz-select style="width: 100%;" nzShowSearch nzAllowClear [nzDropdownRender]="renderTemplate" nzPlaceHolder="Chọn Chủ Đề">
                <nz-option *ngFor="let item of listOfItem" [nzLabel]="item | uppercase" [nzValue]="item"></nz-option>
            </nz-select>
            <ng-template #renderTemplate>
                <nz-divider style="margin: 3px;"></nz-divider>
                <div class="container">
                    <input style="width: 60%;
                      margin: 5px;" type="text" nz-input #inputElement />
                    <a class="add-item" (click)="addItem(inputElement)"><i nz-icon nzType="plus"></i>Thêm</a>
                </div>
            </ng-template>
        </nz-list-item>
        <nz-list-item>
            <nz-select nzPlaceHolder="Hình Thức Làm Bài" [(ngModel)]="info.do_type">
                <nz-option nzLabel="Thi Trực Tuyến" nzValue="live"></nz-option>
                <nz-option nzLabel="Luyện Tập" nzValue="exercise"></nz-option>
            </nz-select>
    
            <div *ngIf="info.do_type === 'live'">
                <nz-date-picker style="width: 100%;" [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="HH:mm dd/MM/yyyy"
                    nzPlaceHolder="Thời Gian Bắt Đầu" [(ngModel)]="info.time_start_for_live" (ngModelChange)="onChange($event)">
                </nz-date-picker>
            </div>
        </nz-list-item>
    </nz-list>

    <div nz-row nzJustify='end'>
        <div nz-col>
            <button nz-button nzType="primary" [disabled]='list_questions.length === 0' [title]='list_questions.length === 0? "Vui lòng thêm câu hỏi trước khi lưu đề":"Tạo đề"'><i nz-icon nzType="save"></i>LƯU</button>
        </div>
    </div>
    
</nz-drawer>