<nz-tabset>
    <nz-tab [nzTitle]="titleTemplate1">
        <ng-template #titleTemplate1>
            <i nz-icon nzType="info-circle" nzTheme="outline"></i>Thông Tin Chung
        </ng-template>
        <nz-descriptions nzTitle="{{class.name}}" [nzColumn]="1">
            <nz-descriptions-item nzTitle="Giáo Viên">{{teacher.name}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="SĐT">{{teacher.phone}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Thuộc Trường">
                {{teacher.school}}
            </nz-descriptions-item>
        </nz-descriptions>
        <nz-divider style="margin: 15px 0;"></nz-divider>
        <div nz-row nzJustify='space-between'>
            <h2 style="    width: fit-content;
        border-bottom: #2196F3 solid 2px;">Các Bài Kiểm Tra:</h2>
        </div>
        <div class="list">
            <nz-empty *ngIf="exams.length === 0; else tableExam"></nz-empty>
            <ng-template #tableExam>
                <nz-table nzBordered [nzData]="[{}]">
                    <thead>
                        <tr>
                            <th nzWidth='50px'>STT</th>
                            <th>Tiêu Đề</th>
                            <th>Thời Gian Làm Bài</th>
                            <th>Kiểm Tra Vào Lúc</th>
                            <th>Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of exams; let i=index">
                            <td class="center">{{i+1}}</td>
                            <td>
                                <a style="text-transform: capitalize;"
                                    routerLink='/student/kiem-tra/{{data._id}}'><b>{{ data.title }}</b>
                                </a>
                            </td>
                            <td>
                                {{data.duration}} phút
                            </td>
                            <td>
                                {{data.time_start*1000 | date: 'HH:mm - dd/MM/y'}}
                            </td>
                            <td>
                                <nz-tag nzMode="checkable" [nzChecked]="true">
                                    {{data.status | customString: 'StatusExam' | uppercase}}
                                </nz-tag>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </ng-template>
        </div>
    </nz-tab>
    <!-- <nz-tab [nzTitle]="titleTemplate3">
        <ng-template #titleTemplate3>
            <i nz-icon nzType="user" nzTheme="outline"></i>Liên Lạc
        </ng-template>
        <app-list-students></app-list-students>
    </nz-tab> -->
</nz-tabset>