<nz-empty *ngIf="students.length == 0; else list"></nz-empty>
<ng-template #list>
    <nz-table nzBordered [nzData]="[{}]">
        <thead>
            <tr>
                <th nzWidth='50px'>STT</th>
                <th>Họ Và Tên</th>
                <th>Email</th>
                <th>Mã</th>
                <th>Tham Gia Vào</th>
                <th>Quê Quán</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of students; let i=index">
                <td class="center">{{i+1}}</td>
                <td style="text-transform: capitalize;"><b>{{ data.name }}</b></td>
                <td>{{data.email}}</td>
                <td>{{data.code}}</td>
                <td>{{data.ctime*1000 | date: 'dd/MM/y'}}</td>
                <td>{{data.hometown}}</td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>