/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6, a, li{
    font-family: 'Barlow', sans-serif;
    // font-weight: 500;
}

.ant-btn-primary {
    background-color: #536dfe;
    border-color: #536dfe;
}

button.ant-btn-primary {

    box-shadow: 0 4px 20px rgba(32, 48, 130, 0.274);
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #536dfe;
}

.ant-card-head-title {
    font-family: 'Barlow', sans-serif !important;
}

.ant-card-body {
    padding: 15px 24px;
}

td.center {
    text-align: center;
}

td.right {
    text-align: right;
}