/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  font-family: "Barlow", sans-serif;
  // font-weight: 500;
}
a {
  font-size: 16px;
}
.ant-btn-primary {
  background-color: #536dfe;
  border-color: #536dfe;
}

button.ant-btn-primary {
  box-shadow: 0 4px 20px rgba(32, 48, 130, 0.274);
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #536dfe;
}

.ant-card-body {
  padding: 15px 24px;
}

td.center,
th.center {
  text-align: center;
}

td.right {
  text-align: right;
}
thead.ant-table-thead th {
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.nest-table thead.ant-table-thead th {
  border-bottom: 1px solid #f0f0f0;
  color: #535353;
}
.border-table .ant-table tbody > tr > td,
.border-table .ant-table thead > tr > th {
  border-right: 1px solid #ddd;
}

.nest-table .ant-table tbody > tr > td,
.nest-table .ant-table thead > tr > th {
  border-right: 1px solid #f0f0f0;
}
.ant-table-tbody > tr .ant-table-wrapper:only-child .ant-table {
  margin-left: 41px !important;
}
