h1,
h2,
p {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

div.content {
  & > div {
    border: #eee solid 1px;
    padding: 24px;
    p {
      max-width: 540px;
      margin: 0 auto;
    }
    img {
      width: 64%;
      margin: 50px auto;
      display: block;
    }
  }
}
